* {
    box-sizing: border-box;
    outline: none;
}

::-webkit-scrollbar {
    background-color: #333333;
    width: 7px;
}

::-webkit-scrollbar-thumb {
   background-color: #8e6d38;
    border-radius: 10px;
}

ul,
ol,
li {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
}

.black-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/black-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.attachment {
    background-attachment: fixed;
}

.adaptive {
    display: none;
}

.social-media {
    display: none;
}

/* main start */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__forms,
.search,
.header__account,
.header__button-section {
    display: flex;
    align-items: center;
}

.header__forms {
    grid-gap: 40px;
}

.search {
    grid-gap: 16px;
}

.header__account {
    grid-gap: 30px;
}

.header__button-section {
    color: white;
}

.header__button {
    background: none;
    border: none;
    color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.header__button:hover {
    color: rgb(218, 216, 216);
    transition: .3s;
}

.menu {
    display: flex;
    font-family: Gilroy;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    grid-gap: 40px;
}

.menu a:hover {
    color: rgb(218, 216, 216);
    transition: .3s;
}

.header__search {
    background: none;
    border: none;
    width: 55px;
    padding: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.header__search::placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.main {
    background-image: url('../img/main-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0;
}

.main__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    padding-top: 523px;
    padding-bottom: 80px;
}

.main__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 50px;
}

.main__button {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 261px;
    height: 51px;
    background: #333333;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: .3s;

}

.main__button:hover {
    color: rgb(218, 216, 216);
    border: 1px solid rgb(218, 216, 216);
}

.main__bottom {
    border-top: 1px solid #FFFFFF;
    padding-top: 30px;
}

.main__bottom-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__bottom-content__img {
    border-right: 1px solid #FFFFFF;
    padding: 0 15px;
}

/* main end */

/* carousel start */
.second_screen {
    text-align: center;
    color: #333333;

    /* padding-top: 100px;
    padding-bottom: 100px;
    min-height: 851px; */
}

/* .second_content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    color: white;
    grid-gap: 30px;
    margin-top: 50px;
} */

/* .second__text {
    text-align: center;
} */
.second__pretitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    margin-top: 100px;
}

.second__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    margin-top: 15px;
}

/* .second__link {
    position: absolute;
    bottom: 20px;
    left: 140px;
    color: white;
} */

.second_content img {
    width: 100%;
    transition: 0.4s;
}

.second_content img:hover {
    transform: scale(1.1);
}


.second_button button {
    text-transform: uppercase;
}

.second_button {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.second_button button {
    position: relative;
    width: 165px;
    height: 61px;
    border-radius: 0px;
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    transition: 0.3s;
}

.second_button button::after {
    position: absolute;
    content: "";
    left: 6px;
    top: 6px;
    width: 100%;
    height: 100%;
    border: 1px solid #d6d6d6;
    z-index: -1;
}

.second_button button:hover {
    border: none;
    background: #333333;
    color: white;
}

.carousel {
    max-width: 1110px;
    /* width: 95%; */
    margin-top: 150px;
    margin-bottom: 120px;
}

.carousel-indicators {
    width: 100%;
    top: -100px;
    left: 0;
    margin: 0;
    justify-content: space-between;
}

.carousel-indicators [data-bs-target] {
    position: relative;
    width: 165px;
    height: 55px;
    border-radius: 0px;
    background-color: white;
    opacity: 1;
    border: 1px solid #d6d6d6;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.3s;
    text-indent: 0;
}

.carousel-indicators [data-bs-target]::after {
    position: absolute;
    content: "";
    left: 6px;
    top: 6px;
    width: 100%;
    height: 100%;
    border: 1px solid #d6d6d6;
    z-index: -1;
}

.carousel-indicators>.active {
    border: none;
    color: white;
    background: #333333;
    transform: scaleY(1.1) translateY(3px);
}

.carousel-indicators>.active::after {
    border: none;
}


div.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 30px;
}

div.card {
    position: relative;
    border: none;
}

.card__title {
    position: absolute;
    bottom: 10px;
    left: 35%;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 24px;
}

.card,
.card__img {
    width: 100%;
}

/* carousel end */

/* black-flex start */

.black-flex__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.black-flex__pretitle {
    font-family: Gilroy;
    font-style: normal;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
}

.black-flex__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
}

.black-flex__text {
    max-width: 730px;
    font-family: Gilroy;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 60px;
    text-align: center;
}

.black-flex__button {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    width: 224px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #333333;
    margin-bottom: 100px;
    transition: .3s;
}

.black-flex__button:hover {
    background: none;
    border: 1px solid white;
    color: white;
}

/* black-flex end */

/* article-section start */
.article-gallery-section {
    background-color: white;
}

.article,
.gallery {
    color: #333333;
    text-align: center;
}

.article__pretitle,
.gallery__pretitle {
    font-family: Gilroy;
    font-style: normal;
    font-size: 21px;
    margin-top: 120px;
    margin-bottom: 15px;
}

.article__title,
.gallery__title {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 60px;
}

.article-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    margin-bottom: 60px;
}

.a-case {
    position: relative;
}

.a-case a:first-of-type {
    display: block;
    overflow: hidden;
    width: 350px;
    height: 370px;
}

.a-case img {
    width: 100%;
    transition: .3s;
}

.a-case img:hover {
    transform: scale(1.1);
}

.a-case>a:last-of-type {
    position: absolute;
    top: 248px;
    right: 0;
    font-family: Gilroy;
    font-style: normal;
    font-size: 21px;
    line-height: 140%;
    transition: .3s;
}

.a-case>a:last-of-type:hover {
    color: rgb(230, 230, 230);
}

.article__link-1 {
    width: 150px;
    left: 98px;
}

.article__link-2 {
    width: 200px;
    left: 73px;
}

.article__link-3 {
    width: 200px;
    left: 72px;
}

.article__button {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 255px;
    height: 51px;
    background: #333333;
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.article__button:hover {
    background: none;
    border: 1px solid #333333;
    color: #333333;
}

.gallery-grid {
    display: grid;
    grid-template-areas: 'a a b c''d e f f';
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    font-size: 0px;
    margin-bottom: 150px;
}

.g-case-1 {
    position: relative;
    grid-area: a;
}

.g-case-2 {
    grid-area: b;
}

.g-case-3 {
    grid-area: c;
}

.g-case-4 {
    grid-area: d;
}

.g-case-5 {
    grid-area: e;
}

.g-case-6 {
    position: relative;
    grid-area: f;
}

.g-case-video-span {
    position: absolute;
    top: 115px;
    left: 242px;
}

/* article-gallery section end */

/* black-flex start */
.black-flex__text-content {
    text-align: center;
}

.last-black-flex__content {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 95px;
    margin-bottom: 125px;
}

.black-flex-list li {
    list-style: url('../img/list-style-icon.png');
    list-style-position: inside;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}

.list {
    margin-bottom: 15px;
}

.black-flex-send {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    width: 418px;
    height: 85px;
    background: #FFFFFF;
}

.black-flex-send input {
    width: 200px;
    height: 45px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.5)
}

.black-flex-send input::placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.5);
}

.black-flex-send button {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    width: 159px;
    height: 45px;
    background: #333333;
    border: 1px solid #FFFFFF;
}

/* black-flex start */

/* footer start */

footer {
    background: white;
}

.footer-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 80px;
}

.f-case,
.f-case a {
    font-family: Gilroy;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.f-case a:hover {
    color: #505050;
}

.f-case h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.f-case-list {
    margin-bottom: 15px;
}

.f-case__text {
    margin-bottom: 20px;
}

.f-case-listbox {
    margin-left: 30px;
}

.tel-list {
    position: relative;
}

.tel-list::before {
    position: absolute;
    content: url('../img/phone_1.png');
    top: 0;
    left: -30px;
}

.email-list {
    position: relative;
}

.email-list::before {
    position: absolute;
    content: url('../img/email_1.png');
    top: 0;
    left: -30px;
}

.f-case__socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 20px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #333333;
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.footer__bottom a {
    font-family: Gilroy;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    transition: .3s;
}

.footer__bottom a:hover {
    color: #505050;
}

/*footer end*/

/* adaptive start */
@media screen and (max-width: 1175px) {
    .gallery-grid {
        display: grid;
        grid-template-areas: 'a a''b c''d e''f f';
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        font-size: 0px;
        margin-bottom: 150px;
    }

    .g-case-1 {
        position: relative;
        grid-area: a;

    }

    .g-case-2 {
        grid-area: b;

    }

    .g-case-3 {
        grid-area: c;

    }

    .g-case-4 {
        grid-area: d;
    }

    .g-case-5 {
        grid-area: e;
    }

    .g-case-6 {
        position: relative;
        grid-area: f;
    }

    .g-case-video-span {
        position: absolute;
        top: 115px;
        left: 242px;
    }
}

@media screen and (max-width: 1140px) {
    /* .a-none {
        display: none;
    } */

    /* .adaptive {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    } */


}

@media screen and (max-width: 970px) {
    .header__forms {
        grid-gap: 20px;
    }

    .menu {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 960px) {
    .footer-grid {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 920px) {
    .header {
        flex-wrap: wrap;
    }

    .header__logo {
        width: 216px;
        order: 1;
    }

    .adaptive {
        order: 2;
        display: block;
        cursor: pointer;
        width: 50px;
    }

    .navigation {
        order: 3;
        width: 305px;
    }

    .header__forms {
        order: 4;
        width: 305px;
    }

    .search {
        display: none;
    }

    .social-media {
        display: flex;
        align-items: center;
        grid-gap: 30px;
        order: 5;
        width: 305px;
    }

    /* .search {
        grid-gap: 16px;
    }

    .header__account {
        grid-gap: 30px;
    } */

    .main__bottom {
        display: none;
    }
}

@media screen and (max-width: 795px) {
    .last-black-flex__content {
        display: flex;
        grid-gap: 40px;
        flex-direction: column;
    }

    .black-flex-send {
        flex-direction: column;
        width: 300px;
        height: 150px;
    }

    .black-flex-send button {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: white;
        width: 200px;
        height: 45px;
        background: #333333;
        border: 1px solid #FFFFFF;
    }
}

@media screen and (max-width: 495px) {
    .footer-grid {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
    }

    .f-case h2 {
        text-align: center;
    }

    .footer__bottom {
        flex-direction: column;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 360px) {
    .black-flex-send {
        width: 270px;
    }
}